
<div id="title">
  <h1>Changer informations</h1>
</div>

<form id="form-hike" novalidate>

    <h3 class="titel-form">Changer informations</h3>

      <label for="nom" class="formlabel">Nom *</label>
      <input type="text" placeholder="Yorguen" class="form-control" id="nom" name="nom" value={{data.nom}}>
      <div id="error-nom" class="error"></div>

      <label for="prenom" class="formlabel">Prénom *</label>
      <input type="text" placeholder="John" class="form-control" id="prenom" name="prenom" value="{{data.prenom}}">
      <div id="error-prenom" class="error"></div>

      <label for="email" class="formlabel">Adresse Courriel *</label>
      <input type="email" placeholder="johndoe@example.com" class="form-control" id="email" name="email" value="{{data.courriel}}">
      <div id="error-email" class="error"></div>

      <label for="telephone" class="formlabel">Numéro de téléphone *</label>
      <input type="tel" placeholder="(123) 456-7890" class="form-control" id="telephone" name="telephone" value="{{data.numero_tel}}">
      <div id="error-telephone" class="error"></div>

      <label for="carte-sante" class="formlabel">Numéro de carte santé *</label>
      <input type="text" placeholder="1234 567 890 XX" class="form-control" id="carte-sante" name="carte-sante" value="{{data.numero_carte_sante}}">
      <div id="error-carte-sante" class="error"></div>

      <label for="adresse" class="formlabel">Adresse *</label>
      <input type="text" placeholder="801 Aviation Pkwy, Ottawa, ON K1K 4R3" class="form-control" id="adresse" name="adresse" value="">
      <div id="error-adresse" class="error"></div>


    <a href="/patient">
      <button type="button" class="btn btn-primary mb-2 btn-lg btn-block" id="creation-compte">Changer informations</button>
    </a>

  </form>


<script type="module" src="/js/home.js"></script>